.c-logo {
  position: relative;
}

.c-logo__default,
.c-logo__inverted {
  will-change: opacity;
  transition: $transition--default;
  transition-property: opacity;
}

.c-logo__inverted {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  opacity: 0;

  img {
    max-width: none;
  }
}

[class*="inverted"] {

  .c-logo__default {
    opacity: 0;
  }

  .c-logo__inverted {
    opacity: 1;
  }
}
