//*------------------------------------*\
//   $SOCIAL ICONS
//*------------------------------------*/

%nav--social-icons {
    display: flex;
    margin: 0;

    li {
        display: flex;
        white-space: nowrap;
        margin: 0;
    }

    a {
        width: auto;
        height: auto;
        display: inline-block;
        padding: 0 !important;
    }

    @include below(lap) {
        text-align: center;
        width: 100%;
    }
}

.jetpack-social-navigation.jetpack-social-navigation {

    ul {
        @extend %nav--social-icons;
        margin-bottom: 0;
    }
}
