$arrow-color:   currentColor    !default;
$arrow-width:   2px             !default;

.c-slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 3000;

    display: inline-block;
    width: 5em;
    height: 100%;

    padding: 0;
    border: 0;

    overflow: hidden;

    background: transparent;
    text-indent: 9999em;
    white-space: nowrap;
    cursor: pointer;

    //opacity: 0.5;
    transition: opacity $transition--micro ease-out;
    border-radius: 50%;
    transform: translate3d(0, -50%, 0);

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;
        width: 1em;
        height: 1em;

        border: $arrow-width solid transparent;
    }

    @include below(pad) {
        &#{&} {
            opacity: 1 !important;
            margin: 0;
        }
    }
}

.c-slider__arrow--active {
    opacity: 1;
}

.c-slider__arrow--prev {
    left: 0;

    &:after {
        border-bottom-color: $arrow-color;
        border-left-color: $arrow-color;
        transform: translate3d(-50%,-50%,0) rotate(45deg);
    }
}

.c-slider__arrow--next {
    right: 0;

    &:after {
        border-top-color: $arrow-color;
        border-right-color: $arrow-color;
        transform: translate3d(-50%,-50%,0) rotate(45deg);
    }
}
