@import "../../../../components/footer/scss/elements/layout";
@import "../../../../components/footer/scss/customify";

.c-footer {

  .widget_wpcom_social_media_icons_widget li {

    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size:24px;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

[id="footer-menu"] {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
    @include spacing(margin-right, 1rem);

    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      a {
        margin-left: 0;

        &:before {
          display: none;
        }
      }
    }

    a {
      @include spacing(margin-left, 1rem);

      @include leading-map((
        font-family: $theme-body-font-family-alt,
        font-size: 13px,
        font-weight: 400,
        letter-spacing: (1em/13),
        text-transform: uppercase,
      ));

      &:before {
        content: '\2022';
        position: relative;
        top: 0;
        @include spacing(left, -1rem);
        pointer-events: none;
      }
    }
  }
}

.c-footer__zone--bottom {
  text-align: center;

  .menu {
    justify-content: center;
  }

  nav + .c-footer__copyright-text {
    @include spacing(margin-top, 1rem);
  }

  // Made by Pixelgrade credits
  .c-footer__credits {
    opacity: 0.5;

    a {
      text-decoration: underline;
    }

  }
}

.c-footer__widget {
  text-align: left;

  ul {
    margin-left: 0; // Old way of spacing? (George)
    padding-left: 0;
  }

  h3 + ul {
    padding-bottom: 0;
  }
}

.c-footer__gallery {
  margin-bottom: 0;
  justify-content: center;
}

.c-footer__copyright-text {
  font-size: 16px;
}
