// Pro Sections Badges
#accordion-section-silklite_style_presets h3:before,
#accordion-section-silklite_colors h3:before,
#accordion-section-silklite_fonts h3:before,
#accordion-section-silklite_style_view_pro h3:before,
a.badge-silk-pro {
    position: relative;
    top: 2px;
    float: right;
    content: "Pro";

    margin-left: 8px;
    margin-right: 32px;
    padding: 3px 6px !important;

    font-size: 9px !important;
    font-weight: bold;
    line-height: 1.5 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff !important;
    background-color: #C63D6F;
    border-radius: 2px;

    -webkit-font-smoothing: subpixel-antialiased !important;
}

// Title
a.badge-silk-pro {
	float: none;
    margin: 0;

    &:hover {
        background-color: #00a0d2 !important;
    }
}

// Dismiss Text
.upsell_link_details {
    position: relative;
    left: 6px;
    top: 2px;
    display: inline-block;
    font-size: 10px;
    color: #5C5C5C;

    a {
        color: #5C5C5C !important;
        text-decoration: underline !important;

        &:hover {
            color: #00a0d2 !important;
        }
    }
 }

 // Dismissed?
 .upsell_links_dismissed {
    .badge-silk-pro,
    .upsell_link_details,
    #accordion-section-silklite_style_presets,
    #accordion-section-silklite_colors,
    #accordion-section-silklite_fonts {
        display: none !important;
    }
 }


// Content Styling for Pro Sections
#accordion-section-silklite_style_presets,
#accordion-section-silklite_colors,
#accordion-section-silklite_fonts {
	.accordion-section-content {
	    background: #eaf9fe;
	}

	.description {
	    color: #88B6CE;
	    line-height: 1.65;
	}

    a {
        font-weight: bold;
        text-decoration: underline;
    }
}

// Upsell Container
.upsell-container {
    background: white;
    padding: 16px;
    border-radius: 2px;
    font-size: 14px;

   .button-primary {
        height: 40px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        text-shadow: none;
        background: #C63D6F;
        border-color: #982851 #982851 #982851;
        box-shadow: none;
    }
}

// Upsell Features

ul.upsell-features {
    li {
        margin-bottom: 20px;
        
        .description {
            font-size: 13px;
        }
    }

    li h4:before {
        position: relative;
        float: left;
        content: "Pro";

        margin-left: 0;
        margin-right: 8px;
        padding: 3px 6px !important;

        font-size: 9px !important;
        font-weight: bold;
        line-height: 1.5 !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff !important;
        background-color: #C63D6F;
        border-radius: 2px;

        -webkit-font-smoothing: subpixel-antialiased !important;
    }

 
}
