

//*------------------------------------*\
//   $HELPERS
//*------------------------------------*/

%centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

%box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//*------------------------------------*\
//   $POSTS/PAGES
//*------------------------------------*/

// Visible/Hidden Hero area styles
#postbox-container-2 .cmb_metabox_description.hero-visibility {
	order: 1;

	& > div {
		display: flex;
		flex-basis: 100%;
		padding-right: 0;
		justify-content: space-between;
	}

	margin: 10px 0;

	.dashicons {
		margin-right: 3px;
	}

	span:not(.hero-editor-visibility-status) {
		display: none;
	}

	.hero-editor-visibility-status {
		color: #000000;
		font-weight: 900;
	}

	span.description {
		font-style: normal;
	}
}

.hero-hidden-overlay {
	opacity: 1;
	pointer-events: none;
	transition: opacity .3s;
}

#postbox-container-2 .is--visible {
	.cmb_metabox_description.hero-visibility span[class*="visibility"] {
		display: inline-block;
	}

	.hero-hidden-overlay {
		opacity: 0;
	}
}

#postbox-container-2 .is--hidden {
	.cmb_metabox_description.hero-visibility span[class*="hidden"] {
		display: inline-block;
	}
}

#wp-_hero_content_description-wrap .mce-toolbar.mce-last {
	position: absolute;
}

#wp-_hero_content_description-wrap .mce-toolbar-grp {
	z-index: 1;
}

._hero_content_description {
	padding-top: 50px;
}

.mce-container .hero-hidden-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: #2c2c2c;
	opacity: 0.2;

	// To override font set by TinyMCE
	font-family: dashicons;
	color: white;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		font-size: 150px;
	}
}


// Visibile/Hidden Slideshow area
#postbox-container-2 .slideshow-area-title {
	display: flex;
	justify-content: space-between;

	&.cmb-type {
		flex-wrap: nowrap;
		align-items: center;
	}

	.cmb_metabox_description {
		padding-right: 0;
		width: auto;
		flex: 0 0 auto;

		h3 {
			label,
			&:before {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.cmb_metabox_title {
		padding: 0;
		margin: 0;

		font-size: 13px;
		font-weight: 300;
		color: #AAAAAA;
	}

	&.is--disabled {
		background-color: #F7F7F7;
		margin: 0 -30px -30px -30px;
		padding: 14px 30px;

		.cmb_metabox_description h3 {
			opacity: .3;
			font-size: 16px;
		}
	}

	&.is--enabled {
		.cmb_metabox_title {
			display: none;
		}
	}
}

.mce-panel.mce-menu {
	z-index: 200000 !important;
}

.has--no-slides {
	display: none !important;
}

.position__ui-handle {
	// box-shadow: 0px 0px 2px 2px #000000; strange shadow for builder align buttons
}

#postbox-container-2 li._hero_featured_projects_title {
	margin-top: 30px;
}
