.widget {

  ul:not(:last-child) {
    @include spacing(margin-bottom, 2rem);
  }

  li:not([class]):not(:last-child) {
    @include spacing(margin-bottom, 0.5rem);
  }

  .c-meta li:not([class]):not(:last-child) {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  .c-card__btn {
    color: $color-white;

    &:hover {
      text-decoration: none;
    }
  }

  // Helper Classes for Widgets
  // .flush: remove content spacing
  &.flush {
    padding: 0 !important;
  }

  // .divider: add a bottom divider to the widget
  &.divider {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    // Use box-shadow because the border extend outside the content
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  }

}

.widget_nav_menu {
  ul.menu > li {

    a {
      &:hover {
        opacity: 1;
      }
    }

    &.current-menu-item {
      text-decoration: underline;
    }
  }
}

.widget_nav_menu,
.widget_pages {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li:not(:last-child) {
    margin-bottom: 11px;
  }

  a {
    text-decoration: none;
  }
}

.widget_authors {

  > ul > li > a {
    @include spacing(margin-bottom, 1rem);
    display: flex;
    align-items: center;

    > img {
      @include spacing(margin-right, 0.5rem);
    }

    > strong {
      font-family: $theme-headings-font-family;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

.widget_rss {

  li {
    @include spacing(margin-bottom, 0.5rem);
  }

  cite {
    margin-top: 12px;
  }
}

.widget_rss,
.widget_text { 

  ul a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.widget_text img {
  max-width: 100%;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.widget_media_image {
  img {
    display: block; 
  }
}

.widget_facebook_likebox {
  overflow: visible !important;
}

.widget-area--side,
.widget-area--sidebar-footer, 
.widget-area--footer-featured {

  .search-form[class] {
    position: relative;

    input[type="text"] {
      @include spacing(padding, 18px);
      @include spacing(padding-right, 60px);
    }

    .search-submit {
      position: absolute;
      top: 0;
      right: 5px;

      width: auto;
      height: 100%;

      padding: 0;
      border: 0;
      margin: 0;

      color: transparent;
      background-color: transparent;

      &:before {
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;

        background: url(#{$search-svg}) center center no-repeat;
      }

      &:hover:before {
        transform: none;
      }
    }
  }
}

// Footer Featured Area
.widget-area--footer-featured {
  .o-layout & .widget-first.dark {
    border-top-width: 0;
  }
}

// Widgets below content
.widget-area--below-post {

  .widget__title {
    @include fontsize(24px);
    color: $theme-text-color;
  }

  .widget {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding-bottom: 0;
        list-style: none;
      }
    }
  }
}

@mixin widget-side-list {
  ul {
    list-style: none;
    padding-left: 0;

    justify-content: flex-start;
    text-align: left;
  }

  li {
    margin-right: 0;
    flex-basis: 100%;
    line-height: 1.75;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }

  .children {
    margin-top: 7px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.widget-area--side {
  display: flex;
  flex-direction: column;

  .widget_categories,
  .widget_pages {
    @include widget-side-list;
  }

}

@include below(pad) {

  .widget_categories {
    display: block;
    padding: 0;
    border: 0;
  }

  .widget--full .widget__title {
    text-align: left !important;
  }
}

.widget_calendar {

  table {
    width: 100%;
    text-align: center;
  }
}

.widget-area .widget__title {
    margin-bottom: 1.5rem;
}
